s {
  font-family: "Jetbrains Mono";
}

#waybar {
  background: #282828;
  color: #A89984;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #737373;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  color: #A9B665;
}

#window {
  color: #fff;
}

#network {
  color: #365F87;
  margin-right: 8px;
}

#pulseaudio {
  color: #14b8a6;
  margin-right: 4px;
}

#cpu {
  color: #7DAEA3;
  margin-right: 4px;
}

#temperature {
  color: #D8A657;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #C15853;
}
